name: build-containers
on:
  schedule:
    # Run on 1st of every month to refresh images
    - cron: '0 0 1 * *'
  push:
    branches: [ main ]
    paths:
      - "Dockerfile"
      - "config.json"
      - "./tests/Dockerfile"
  workflow_dispatch:
jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.x'

      - name: Fetch config JSON
        id: set-matrix
        run: |
          OUT=$(python ./scripts/fetch_config.py)
          echo "::set-output name=matrix::$OUT"
  build:
    runs-on: ubuntu-latest
    needs: generate-matrix
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and export locally
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./tests/Dockerfile
          load: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/acme:${{ matrix.tag }}-test
          build-args: |
            "REVISION=${{ matrix.revision }}"
            "REPO=${{ matrix.repo }}"

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.x'
      
      - name: Test
        run: |
          python ./scripts/tests/test_docker.py ${{ matrix.tag }}

      - name: Build and push
        if: ${{ success() }}
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/acme:${{ matrix.tag }}
          build-args: |
            "REVISION=${{ matrix.revision }}"
            "REPO=${{ matrix.repo }}"

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
